# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
build/
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda artifacts
*.zip
lambda/package/
__pycache__/
*.py[cod]
*$py.class

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
*.pem
*.key
.env
.env.*

# Logs
*.log
